.navmain {
    width: 90%;
    
    margin: 0 auto;
    display: flex;
   align-items: center;
}
.ull{
    display: flex;
    list-style: none;
    font-size: 12px;
    font-family: monospace;
    padding-left: 200px;
}
.ull li {
    padding-left: 20px;
}
.main2{
    width: 80%;
    margin: 0% auto;
    height:600px;
}
.contus{
    margin: 0;
    padding: 0;
    font-size: 10px;
    padding-left: 6px;
    padding-right: 6px;
    background-color:  #39CDCC;
    width: fit-content;
    display: flex;
    flex-direction: column;
    
    
}
.contus h3 {
    flex-direction: column;
}
.txt{
    width: 30%;
    position: absolute;
    left: 200px;
}
.txt h1 {
    font-size: 50px;
    font-weight: 100;
    font-family: monospace;
}
.fotka{
    width: 30%;
    position: absolute;
    right: 200px;
    top: 70px;
}
.main3{
    width: 80%;
    margin: 0% auto;
    height:390px;
}
.txt2{
    width: 30%;
    position: absolute;
    right: 200px;
}
.txt2 h1 {
    font-size: 50px;
    font-weight: 100;
    font-family: monospace;
}
.fotka2{
    width: 30%;
    position: absolute;
    left: 250px;
    top: 650px;
}
.justtxt{
    font-size: 30px;
    text-align: center;

    
    font-family: monospace;
    font-weight: 700;
}
.contan{
    width: 80%;
   font-size: 15px;
    margin: 0 auto;
    display: flex;
    height: 280px;
}
.con1 {
    text-align: center;
    box-shadow: 0 0 5px black;
    width: 30%;
    border-top: 10px solid blue;
    height: 250px;
    
}

.con1 svg { padding-top: 50px;}
.con2 svg { padding-top: 50px;}
.con3 svg { padding-top: 50px;}
.con1 p {
    width: 80%;
    margin: 0 auto;
}
.ss{
    padding-top: 120px;
}
.con2 {
    text-align: center;
    box-shadow: 0 0 5px black;
    width: 30%;
    border-top: 10px solid blue;
    height: 250px;
    
}
.con2 p {
    width: 80%;
    margin: 0 auto; }
    .con3 p {
        width: 80%;
        margin: 0 auto; }
        .con3 {
            text-align: center;
            box-shadow: 0 0 5px black;
            width: 30%;
            border-top: 10px solid blue;
            height: 250px; }
            .last{
                width: 90%;
                text-align: center;
                margin: 0 auto;
                background-color: #31C5A1;
                ;
            }
            .last h1 { width: 50%;
            margin: 0 auto;
            font-family: monospace;
            font-weight: 200;
            color: white;
            padding-top: 100px;
            }
            .ww{
                display: flex;
                align-items: center;
                width: 25%;
                margin: 0 auto;
                gap: 10px;
                padding-top: 10px;
                padding-bottom: 30px;
            }
           .oxiron { width: 90%;
         margin:  0 auto;
        display: flex;
        }
        .aa{
            padding-top: 50px;
            padding-left: 50px;
        }
        .hichi {
            width: 30%;
        }
        .sds1 {
            width: 20%;
            padding-top: 50px;
            font-family: monospace;
            font-size: ;
            font-weight: 600;
        }
        .sds2 {
            width: 20%;
            padding-top: 50px;
            font-family: monospace;
            font-size: ;
            font-weight: 600;
        }
        .sds3 {
            width: 30%;
            padding-top: 50px;
            font-family: monospace;
            font-size: ;
            font-weight: 600;
        }